.palette{
    border: 1px solid #000000;
    padding: 0px 0px 0px 0px;
    cursor:pointer;
}

.preview-color{
    stroke: #000000;
}

.full-size{
    width:100%;
    height:100%;
}

.last-color {
    width:95%;
    margin:0 auto;
    border-style:solid;
    border-radius:5px;
    border-width:2px;
}
.last-color .color-badge {
    width:18%;
    padding-bottom:17%;
    margin:1%;
    float:left;
    border-radius: 10%;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(154, 161, 154);
}
.palette {
    width:95%;
    margin:0 auto;
    border-style:solid;
    border-radius:5px;
    border-width:2px;
}
.text-small {
    font-size:10px;
}

.last-color {
    width:95%;
    margin:0 auto;
    border-style:solid;
    border-radius:5px;
    border-width:2px;
}
.last-color .color-badge {
    width:18%;
    padding-bottom:17%;
    margin:1%;
    float:left;
    border-radius: 10%;
}
.palette .palette-badge{
    width:12%;
    padding-bottom:11%;
    margin:1%;
    float:left;
    border-radius: 50%;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(154, 161, 154);
}

.custom-range{
    border: none;
}

.slider-red::-webkit-slider-thumb{
    background-color: red;
}

.slider-red::-moz-range-thumb{
    background-color: red;
}

.slider-green::-webkit-slider-thumb{
    background-color: green;
}

.slider-green::-moz-range-thumb{
    background-color: green;
}

.slider-blue::-webkit-slider-thumb{
    background-color: blue;
}

.slider-blue::-moz-range-thumb{
    background-color: blue;
}

.slider-alpha::-webkit-slider-thumb{
    background-color: rgba(0,0,0,0.3);
}

.slider-alpha::-moz-range-thumb{
    background-color: rgba(0,0,0,0.3);
}

input[type='range']{
    float: right;
}

.custom-range{
    border: none;
}

.slider-red::-webkit-slider-thumb{
    background-color: red;
}

.slider-red::-moz-range-thumb{
    background-color: red;
}

.slider-green::-webkit-slider-thumb{
    background-color: green;
}

.slider-green::-moz-range-thumb{
    background-color: green;
}

.slider-blue::-webkit-slider-thumb{
    background-color: blue;
}

.slider-blue::-moz-range-thumb{
    background-color: blue;
}

.slider-alpha::-webkit-slider-thumb{
    background-color: rgba(0,0,0,0.3);
}

.slider-alpha::-moz-range-thumb{
    background-color: rgba(0,0,0,0.3);
}

input[type='range']{
    float: right;
}
