.game-setup {
    height: 100%;
    &-container {
        margin-right: 25%;
        margin-left: 25%;
        height: 100%;

        &-title {
            padding-top: 5.5rem;
            text-align: center;
            &-text {
                font-size: 2rem;
                font-weight: bold;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            }
        }

        &-form {
            margin-right: 5rem;
            margin-left: 5rem;

            &-error {
                color: #dc3545;
                font-size: small;
            }
        }

        &-password{
            display: flex;
            flex-direction: row;
        }
    }
    
    &-back {
        z-index: 2;
        position: absolute;
        top: 1rem;
        left: 3rem;
        border-radius: 100%;
    }

    &-avatar {
        z-index: 2;
        position: absolute;
        top: 1rem;
        right: 3rem;
    }

    &-chat {
        position: absolute;
        right: 0;
        bottom: 1rem;
        width: 20%;
    }
}
