.colors{
    width:100%;
    max-width: 100%;
}

.properties{
    width:100%;
    max-width: 100%;
}

.container{
    min-height: 0;
}

.color-title{
    pointer-events: none;
    padding-top: 10%;
}

.hints{
    float:right;
}